name: Run Selenium Scraper
on: 
  workflow_dispatch: # Manual trigger

jobs:
  scrape:
    env:
      PY_COLORS: "1"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade wheel
          pip install seleniumbase

      - name: Install chromedriver
        run: |
          seleniumbase install chromedriver

      - name: Run Scraper
        run: |
          # sudo apt-get install -y xvfb
          # xvfb-run python scrape_test.py
          python scrape_test.py
