name: Run Selenium Scraper (Windows)
on: 
  workflow_dispatch: # Manual trigger

jobs:
  scrape:
    env:
      PY_COLORS: "1"
    runs-on: windows-latest  # <--- CHANGED TO WINDOWS

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade wheel
          pip install seleniumbase

      - name: Install chromedriver
        run: |
          seleniumbase install chromedriver

      - name: Run Scraper
        # No 'xvfb' needed on Windows. Just run python.
        run: python scrape_test.py
