name: Run Selenium Scraper
on: 
  workflow_dispatch: # Manual trigger

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install seleniumbase
          # This command installs the specific Chrome drivers needed for Linux
          sbase install chromedriver 

      - name: Run Scraper
        run: python scrape_test.py